{% extends 'base.html' %}

{% load staticfiles %}

{% block link %}
    <link href="{% static 'graphpin/starter-template.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="table table-striped">
            <thead>
            <tr>
                <th><strong>Rating</th>
                <th>User Name</th>
                <th><strong>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for cr in crs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> {{ cr.cr_user.user_name }} </td>
                    <td>{{ cr.cr_points }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>


{% endblock %}


