{% extends 'base.html' %}
{% load staticfiles %}

{% block link %}
    <link href="{% static 'graphpin/picture.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="logo" class="noprint">
   <div>Project Euler<span>.net</span></div>
</div>
</div>

<div id="info_panel"><a href="rss2_euler.xml"><img src="images/icon_rss.png" alt="RSS Feed" title="RSS Feed" /></a><span class="info" style="cursor:pointer;"><a href="secure=00907"><img src="images/icon_lock.png" alt="secure_icon" /></a><span style="color:#070;font-weight:bold;text-align:left;width:250px;right:10px;">You are currently using a secure connection</span></span></div>
<div id="content">
<div style="text-align:center;" class="print"><img src="images/print_page_logo.png" alt="projecteuler.net" style="border:none;" /></div>
<h2>{{ problem.problem_title }}</h2><div id="problem_info" class="info"><h3>Problem {{ problem.id }}</h3><span>Published on Friday, 5th October 2001, 06:00 pm; Solved by 454798; Difficulty rating: 5%</span></div>
<div class="problem_content" role="problem">
<p>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.</p>
<p>Find the sum of all the multiples of 3 or 5 below 1000.</p>

</div><br />
<br /></div>



{% endblock %}




