{% extends 'base.html' %}

{% load staticfiles %}

{% block link %}
    <link href="{% static 'graphpin/starter-template.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id=

    <div id="pane">
        <div id="pane_right">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="solved_by_column"><strong>Rating</th>
                        <th class="title_column">User Name</th>
                        <th class="id_column"><strong><span class="sortby">Contest Num</span></strong></th>
                        <th class="solved_by_column"><strong>Points</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for usr in users %}
                    <tr>
                        <td><div style="text-align:center;">{{ forloop.counter }}</div></td>
                        <td>
                            <a href="/codeforce/problem/{{ p.id }}" title="Published on {{p.publish_date}}">
                              {{ usr.user_name }}
                            </a>
                        </td>
                        <td class="id_column">{{ usr.user_contest_num }}</td>
                        <td><div style="text-align:center;">{{ usr.user_points }}</div></td>
                    </tr>
                    {% if forloop.counter|divisibleby:"4" %}
                        <br/>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


